/* Include site variables and mixins */
@import '../../../styles/globals';

@media (min-width: 980px) {
  .upload-btn {
    width: 150px;
  }
}

.alert {
  line-height: 1.1;
}

.p-accordion-content {
  padding: 0 !important;
}
.table td {
  vertical-align: middle;
  line-height: 1.1;
}
.p-accordion-tab {
  margin-bottom: 1rem !important;
}
.p-tabview-panel {
  padding-bottom: 0 !important;
}
h3 {
  font-size: 1.2rem;
}
