/* Include site variables and mixins */
@import '../../../styles/globals';

body {
  .p-tabview .p-tabview-nav .p-highlight .p-tabview-nav-link,
  .p-accordion-header-link {
    background: #138890 !important;
    border-color: #138890 !important;
  }
  .p-tabview .p-tabview-nav .p-tabview-nav-link {
    padding: 0.5rem !important;
    text-decoration: none !important;
    min-height: 42px;
  }

  .p-autocomplete {
    height: 38px;
  }
}

@media (min-width: 980px) {
  .upload-btn {
    width: 150px;
  }
}

body .p-tabview .p-tabview-panels .p-tabview-panel,
.card {
  box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 10%);
}

.alert {
  line-height: 1.1;
}

.p-accordion-content {
  padding: 0 !important;
}
.table td {
  vertical-align: middle;
  line-height: 1.1;
}
.p-accordion-tab {
  margin-bottom: 1rem !important;
}
.p-tabview-panel {
  padding-bottom: 0 !important;
}
h3 {
  font-size: 1.2rem;
}
