<div class="nts-upload">
  <table class="table table-sm table-striped" *ngIf="!!files">
    <thead>
      <tr>
        <th>Name</th>
        <th>Document Type</th>
        <th *ngIf="canSelectBorrower">Borrower</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files; let i = index">
        <td>{{ file.file.name }}</td>
        <td>
          <p-autoComplete
            field="label"
            placeholder="Please select a type"
            [minLength]="2"
            [dropdown]="true"
            [(ngModel)]="text[i]"
            [suggestions]="results"
            (completeMethod)="search($event)"
          ></p-autoComplete>
        </td>
        <td *ngIf="canSelectBorrower">
          <p-dropdown [options]="borrowers" [(ngModel)]="borrower" optionLabel="name"></p-dropdown>
        </td>
        <td class="text-center">
          <a (click)="delete(i)"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <nts-file-uploader
    [styles]="styles"
    (filesAdded)="filesAddedSrc($event)"
    [placeholder]="'Click or drag and drop to <strong>upload documents</strong>'"
  ></nts-file-uploader>
  <!--
  <div class="text-right small mb-3" *ngIf="!!files">

    <a (click)="addMoreFiles = true">Add more documents</a>

    <a (click)="cancel()">Cancel</a>
  </div>
   -->

  <div class="text-right mt-2" *ngIf="showSubmit && !!files">
    <button class="p-button" (click)="files = null"><i class="fas fa-upload mr-2"></i> Upload All</button>
  </div>
</div>
